# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Logs and databases
*.log
*.sqlite
*.db

# Temporary files
*.swp
*~

# OS-specific files
.DS_Store
Thumbs.db

# Flask specific
instance/
.webassets-cache

# Environment variables
.env
.env.local

# Pipenv
Pipfile
Pipfile.lock
